body {
	background: #000;
	color: #EEE;
	user-select: none;
	font-family: Quicksand;
	font-size: 15px;
	margin: 0;
	max-width: 880px;
	margin: 0 auto;
	margin-top: 108px;
	overflow-x: hidden;
}
#title2 {
	max-width: 880px;
	position: fixed;
	width: 100%;
	background: #181818;
	padding: 28px 0;
	font-weight: bold;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: #68F;
	font-size: 16px;
	border-radius: 0 0 28px 28px;
}
.box {
	background: #181818;
	margin: 12px;
	flex: 1 1 0;
	padding: 24px;
	min-width: 256px;
	border-radius: 24px;
	overflow: hidden;
}
.values {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.values > .value {
	font-weight: bold;
	color: #F56;
	font-size: 26px;
}
.values > .text {
	font-weight: bold;
	color: #666;
	font-size: 12px;
}
.progress {
	background: #222;
	height: 6px;
	margin: 24px -24px -24px -24px;
}
.progress > div {
	height: 100%;
	background: #F56;
	width: 0;
	transition: width .3s;
}
.material-icons-round {
	font-size: 26px !important;
	padding: 9px;
	background: #68F3;
	color: #68F;
	border-radius: 1000px;
	margin-right: 8px;
}
.title {
	font-weight: bold;
	color: #68F;
	font-size: 22px;
}
.inline {
	margin: -4px -6px 8px;
}
.inline > * {
	display: inline-block;
	vertical-align: middle;
}
p {
	display: inline;
}
.centre {
	margin: 0 8px;
	display: flex;
	flex-wrap: wrap;
}
